<mat-menu #profileMenu="matMenu">
  <button mat-menu-item (click)="goToProfile()" style="outline:0;">Αλλαγή στοιχείων</button>
</mat-menu>
<div class="col-md-12" style="height:100vh;overflow-y: auto;padding-left: 0;background: #F4F4F4;">
  <div class="col-12 col-lg-12 col-sm-12" style="color:#ffffff;background: #060639;font-size: 14px;height: 41px;">
    <div style="opacity:0.86;font-family: Arial, Helvetica, sans-serif;color: #FFC200 !important;font-size: 18px;float: left;line-height: 40px">
      Αλλαγή κωδικού
    </div>
    <button class="btn" (click)="logOut()" style="float:right;background-color:#060639;color:#fabe02;font-size: 14px;padding: 0 25px;"
      *ngIf="isAuthenticated()">
      <mat-icon style="color:#fabe02;position: relative;right:5px;top:6px;">exit_to_app</mat-icon>ΕΞΟΔΟΣ <label style="line-height:23px;padding-left:10px;">{{isAdmin()?'(Admin)':isACC()?'(Λογιστήριο)':isCC()?'(Κέντρο
        Ελέγχου)':'(Εγκαταστάτης)'}}</label>
    </button>
    <button class="btn" style="float:right;background-color:#060639;color:#fabe02;font-size: 14px;padding: 0 25px;line-height: 37px;"
      *ngIf="isAuthenticated() && !isAdmin() && !isACC() && !isCC()" [matMenuTriggerFor]="profileMenu">
      <mat-icon style="color:#fabe02;position: relative;right:5px;top:6px;">account_circle</mat-icon>ΠΡΟΦΙΛ<mat-icon
        style="color:#fabe02;position: relative;right:5px;top:6px;">arrow_drop_down</mat-icon>
    </button>
  </div>
  <h3 style="color:black;text-align: center;margin-bottom: 15px;padding-top: 50px;font-family: Open Sans; ">Αλλαγή
    κωδικού πρόσβασης</h3>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
      <div class="row" style="padding-top:10px">
        <div class="col-md-3 text-right bold">
          <span style="line-height: 28px;font-size: 15px;color: #060639;font-weight: 500;">
            Παλαιός κωδικός
          </span>
        </div>
        <div class="col-md-9"><input type="text" [(ngModel)]="oldPassword" type="password"></div>
      </div>
      <div class="row" style="padding-top:10px">
        <div class="col-md-3 text-right bold">
          <span style="line-height: 28px;font-size: 15px;color: #060639;font-weight: 500;">
            Νέος κωδικός
          </span>
        </div>
        <div class="col-md-9"><input type="text" [(ngModel)]="newPassword" type="password"></div>
      </div>
      <div class="row" style="padding-top:10px">
        <div class="col-md-3 text-right bold">
          <span style="line-height: 28px;font-size: 15px;color: #060639;font-weight: 500;">
            Επιβεβαίωση νέου κωδικού
          </span>
        </div>
        <div class="col-md-9"><input style="resize: none;" [(ngModel)]="confirmPassword" type="password"></div>
      </div>
      <div class="row" style="padding-top:20px">
        <div class="col-md-10 text-center">
          <button class="btn" (click)="setNewPassword()" style="background: #FFC200 !important;color: #060639 !important;padding: 5px 40px !important;font-weight: bold !important;border-radius: 25px !important;margin-right:10px;">
            Αποστολή
          </button>
        </div>
      </div>
      <div class="row" style="color:red;padding-top: 20px;">
        <div class="col-md-9 text-center">{{error}}</div>
      </div>
    </div>

  </div>

</div>