<div class="col-md-12" style="background-image: url('assets/hellasbg.png');height:100vh;">
  <div class="row">
    <p style="text-align: center;width: 100%;padding: 40px 0;">
      <img src="assets/logo.png" style="height: 120px;margin: 0 auto;" />
    </p>
  </div>
  <div style="background-color:#45456B;width: 24%;margin: 0 auto;border-radius: 5px;">
    <div class="row">
      <div class="col-md-12 text-center" style="padding-top:25px;padding-bottom:25px">
        <h3 style="color:white;font-family: Open Sans">ΕΙΣΟΔΟΣ</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align: center">
        <input type="text" class="userid" [(ngModel)]="id" style="width: 85%;border-radius: 25px;border: 0;line-height: 30px;padding-left: 15px;font-size: 14px;"
          placeholder="User ID">
      </div>
    </div>
    <div class="row" style="padding-top:15px">
      <div class="col-md-12" style="text-align: center">
        <input type="password" [(ngModel)]="password" style="width: 85%;border-radius: 25px;border: 0;line-height: 30px;padding-left: 15px;font-size: 14px;"
          (keyup.enter)="logIn()" placeholder="Κωδικός Πρόσβασης (password)">
      </div>
    </div>
    <div class="row" style="padding-top: 15px;">
      <div class="col-md-12 text-center" style="cursor:pointer">
        <a style="color:rgba(255,255,255,0.8);font-size: 13px;" class="forgotPassword" (click)="goToForgotPassword()">Ξέχασατε
          τον κωδικό πρόσβασης?</a>
      </div>      
      <div class="col-md-12 text-center" style="padding-bottom: 20px;padding-top:20px">
        <!-- <button class="btn" (click)="clear()">Καθαρισμός</button>-->
        <button class="btn" (click)="logIn()" style="background: #FFC200;color: #060639;padding: 5px 25px;font-weight: bold;margin-right: 10px;border-radius: 25px;padding-left: 50px;
        padding-right: 50px;">Σύνδεση</button>
      </div>
    </div>
  </div>
  <div class="text-center" style="padding-top: 30px;">
      <a style="color:#FFC200;font-size: 16px;cursor: pointer;" (click)="goToRegistration()">Αίτημα Εγγραφής</a>
      <mat-icon style="color:#FFC200;position: relative;top:8px;right:5px;">keyboard_arrow_right</mat-icon>
  </div>  
  <p style="text-align: center;color:rgba(255, 0, 0, 0.8);padding-top: 20px;">
    {{error.length > 0?error:''}}
  </p>
</div>